.cartoon{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include respond(tab-port-mini){
        height: 40rem;
     }
}