
.flex{
   max-width:118.5rem;
   margin: 0 auto;
   position: relative;
   padding-left:$default-padding;
   padding-right:$default-padding;
    display:flex;
    justify-content: space-between;
    @include respond(tab-port-mini){
      flex-direction: column;
      align-items: center;
   }
    &__elem{
       flex-basis: 45%;
       @include respond(tab-port-mini){
         flex-basis: 0;
         width: 90%;
      }
    }
}

