
@mixin open-sans {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@mixin raleway {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

@mixin roboto {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}


//MEDIA QUERY MANAGER 

/*


// $breakpoint arguement choices:
// - phone
// - tab-port
// - big-desktop

*/


// ORDER: Base + typography > general layout + grid > page layout > components

@mixin respond($breakpoint){

    @if $breakpoint == phone {
        @media (max-width: 31.25em) { @content }      //500px
       }

    @if $breakpoint == tab-port {
     @media (max-width: 50em) { @content }      //800px
    }

    @if $breakpoint == tab-port-mini {
        @media (max-width: 43.75em) { @content }      //700px
       }
 
    @if $breakpoint == tab-land {
     @media (max-width: 75em) { @content }    //1200px
    }
    
    @if $breakpoint == big-desktop {
     @media (min-width: 112.5em) { @content }    //1800
    }
 }