
//COLORS:
$color-white: white;
$color-black: black;
$color-red: #ff5f60;
$color-grey:  rgb(34, 34, 34);
$color-grey-light: #333333;
$color-grey-lightest:#8c8c8c;
$color-blue-dark:#183251;
$color-blue-light:#4bd2ff;
$color-orange:#fb8122;
$color-purple:#6500ff;


//PADDINGS 

$default-padding: 1.5rem;